#trainScheduleCard {
    margin-bottom: 30px;
}

#trainBanner {
    margin-top: 20px;
}

.makeRed {
    color: red;
}

tbody > .selectRow:hover {
    color: green;
    border: 2px solid green;
}

.deleteTrain:hover {
    color: red;
}

.editTrain {
    margin-left: 20px;
}

.editTrain:hover {
    color: blue;
}

#trainImg {
    width: 100%;
    max-width: 120px;
    height: auto;
}


.mainbody {
    margin-bottom: 300px;
}