#trainScheduleCard {
    margin-bottom: 30px;
    margin-top: 5px;
}

#trainBanner {
    margin-top: 20px;
}

.makeRed {
    color: red;
}

tbody > .selectRow:hover {
    color: green;
    border: 2px solid green;
}

.deleteTrain:hover {
    color: red;
}

.editTrain {
    margin-left: 20px;
}

.editTrain:hover {
    color: blue;
}

#trainImg {
    width: 100%;
    max-width: 120px;
    height: auto;
}

.addPadding {
    padding-left: 10px;
    padding-right: 10px;
}

.mainbody {
    margin-bottom: 300px;
}

#logoutBtn {
    padding-left: 20px;
    padding-right: 20px;
}